<div class="col-md-6">
    <div class="card card-user">
            <div class="image">
            </div>
        <div class="content">
            <div class="author">
                <h4 class="title">{{me.user}}<br>
                <img *ngIf="me.user" class="media-object" alt="Generic placeholder image" gravatar
        [email]="me.user" [size]="515">
                    <a href="#"><small>{{me.user}}</small></a>
                </h4>
            </div>
            <p class="description text-center">
                
            </p>
        </div>
        <hr>
    </div>
</div>
<div class="col-md-6">
    <div class="card">
        <div class="content">
            <h4>My Clients</h4>
            <div *ngFor="let client of clients">
                <h5><a [routerLink]="['/clients', client.data._id]">{{client.data.name}}</a></h5>
            </div>
        </div>
    </div>
</div>