<h1>Clients</h1>
<p># of clients: {{clients.length}}</p>
<input type="text" [(ngModel)]="input"/>
<!--<div *ngFor="let client of clients | searchFilterPipe:input">-->
<div *ngFor="let client of clients; let i = index;">
  <!--<h5><a [routerLink]="[clients, client.properties.company.value]">Client Name: {{ client.properties.firstname.value }}</a></h5>-->

  <p *ngIf="client.properties.company">
    <b>
      Company: {{client.properties.company.value}}
    </b>
  </p>
  <p *ngIf="client.properties.firstname">{{i + 1}} Contact First Name: {{ client.properties.firstname.value }}</p>
  <p *ngIf="client.properties.lastname">Contact Last Name: {{ client.properties.lastname.value }}</p>
  
</div>