<h1>Clients</h1>
<p># of clients: {{clients.length}}</p>
<input type="text" [(ngModel)]="input" />
<!--<div *ngFor="let client of clients; let i = index; | searchFilterPipe:input">-->
<div *ngFor="let client of clients; let i = index;">
  <div class="media">
    {{i + 1}}
    <!--<img *ngIf="client['identity-profiles'][0]['identities'][0].value" class="media-object" alt="Generic placeholder image" gravatar
      [email]="client['identity-profiles'][0]['identities'][0].value" [size]="150">-->
    <div class="media-body">
      <h5 *ngIf="client.properties.company" class="mt-0">
        {{client.properties.company.value}}
      </h5>
      <p *ngIf="client.properties.firstname">{{ client.properties.firstname.value }}</p>
      <p *ngIf="client.properties.lastname">{{ client.properties.lastname.value }}</p>
      <a [routerLink]="[clients, client]">
        <h5 (click)="selectClient(client)">View More</h5>
      </a>
      <p><a [href]="client['profile-url']" target="_blank">Hubspot Profile</a></p>
    </div>
  </div>
</div>