<div class="row">
  <div class='container' *ngFor="let section of scope; let i = index;" [dragula]='"nested-bag"'>
    <h1>Scope Builder</h1>
    <div>
      <h2>section.name: {{section.name}}</h2>
      <br> 
      <div *ngFor="let details of section.items; let i = index;">
        <div>
          <p>Name: {{details.name}}</p>
          <p>Description: {{details.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <button (click)="saveScope()" class="btn btn-success">Save</button>
</div>