<div class="col-md-8 col-md-offset-2">
    <button (click)="toggleViewTeam()" class="btn btn-primary">View Team</button>
    <button (click)="toggleAddClient()" class="btn btn-primary">Add Client</button>
    <div *ngIf="super" class="card">
        <div class="header">
            <h4 class="title">New User</h4>
        </div>
        <div class="content">
            <form novalidate (submit)="createUser()" #authForm="ngForm">
                <div class="col-md-6 col-md-6-offset-3">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="text" placeholder="email address" class="form-control input-md" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$"
                            [(ngModel)]="user.email" error-msg="Please provide a correct email!" required autofocus>
                    </div>
                </div>
                <div class="col-md-6 col-md-6-offset-3">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" [(ngModel)]="user.password"
                            #password="ngModel" error-msg="Please create a password" required minlength="3">
                    </div>
                </div>
                <div class="col-md-6 col-md-6-offset-3">
                    <div class="form-group">
                        <label>Role</label>
                        <select class="form-control border-input" [(ngModel)]="user.role" name="role">
                            <option *ngFor="let role of roles" [selected]="user.role === 'authenticated_user'" >{{role}}</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button [disabled]="!authForm.form.valid" type="submit" id="signin" name="signin" class="btn btn-primary">Submit</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <div *ngIf="addClient" id="client-container" class="card">
        <div class="header">
            <h4 class="title">New Client</h4>
        </div>
        <div class="content">
            <form novalidate (submit)="createClient()" #authForm="ngForm">
                <div class="col-md-6 col-md-6-offset-3">
                    <div class="form-group">
                        <label for="client-name">Client Name</label>
                        <input id="client-name" name="client-name" type="text" placeholder="Client Name" class="form-control input-md" [(ngModel)]="client.name"
                            error-msg="Client name must be atleast 2 characters" required autofocus minlength="2">
                    </div>
                </div>
                <div class="text-center">
                    <button [disabled]="!authForm.form.valid" type="submit" id="signin" name="signin" class="btn btn-primary">Submit</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="viewTeam" id="team-container" class="col-md-8 col-md-offset-2">
    <div class="card">
        <div class="header">
            <h4 class="title">Team Members</h4>
        </div>
        <div class="content">
            <div class="list-unstyled team-members">
                <div *ngFor="let user of users">
                    <div class="media" role="group">
                        <div class="media-left">
                            <a href="#">
                                <img src="assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5>
                                Email: {{user.email}} Role: {{user.role}}
                                <button (click)="removeUser(user)" class="btn btn-danger pull-right"><span class="ti-close"></span></button>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>